body {
    font-family: Arial;
    background: linear-gradient(to right, #56ab2f, #a8e063);
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
}

h2, h3 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

textarea {
    height: 80px;
}

button {
    width: 100%;
    padding: 8px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f1f1f1;
    padding: 8px;
    margin: 5px 0;
}
